---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-info-circle"></i>
                <h4>Who We Are</h4>
                <p>Founded in 1983 by the International Maritime Organization (IMO), a specialized agency of the United Nations, WMU is a center of excellence for maritime post-graduate education and research.</p> 
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <i class="fa fa-book"></i>
                <h4>Our Collection</h4>
                <p>The WMU Library houses approximately twenty thousand print titles pertinent to the study of maritime affairs. Additionally, the library subscribes to several major databases and full-text journals offering online access to tens of thousands more titles, as well as statistical and report databases of import to the maritime sector.</p> 
                <!-- <p><br/><a href="{{ '/collection' | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <i class="fa fa-anchor"></i>
                <h4>Maritime Information Network</h4>
                <p>The Maritime Information Network is an association of libraries with maritime collections and maritime information services. Its aim is to help bring down the cost of maritime information through collective purchasing agreements, shared services and online repositories, and hosting "crowdsourced data" relevant to the maritime sector.</p> 
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include resources.html title="Resources" limit=15 %}

<div class="container mtb">
    <div class="row">
 		<div class="col-lg-4 col-lg-offset-1">
             <h4>Featured Material</h4>
            <div class="hline"></div>
            {% for post in site.categories['featured'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div id='blog-list' class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
        </div>

    </div><! --/row -->
</div><! --/container -->
