---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Details</h4>
            <div class="hline"></div>
            <p><b>Type:</b> {{ page.type  }}</p>
            <!-- <p><b>Tagged:</b> Flat, UI, Development</p> -->
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include resources.html title="Related Resources." limit=5 %}
